@import '../fonts.scss';

.entersection {
    justify-content: center;
    background: linear-gradient(to top, #071330, #52688F);

    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;

        .Museum {
            margin-top: 400px;
            display: flex;
            justify-content: center;
            transition: 0.5s ease-in-out;
            transition: opacity 0.8s ease-in-out;

             .open {
                display: none;
                z-index: 1;
            }

            .closed:hover {
                display: none;
                z-index: 1;
              }
              
              .closed:hover + .open {
                display: block;
                z-index: 1;
              }
        }
    }

    .walkwayspace {
        height: 400px;
        width: 100%;
        background-color: #52688F;
        display: flex;
        justify-content: center;

        .text-center {
            color: white;
            outline: red solid;
            width: 70%;

            h1 {
                font-size: 50px;
                margin-top: 50px;
                font-family: QuickSandBold;
            }

            p {
                text-align: center;
                margin-top: 50px;
                font-family: QuickSandDash;
                font-size: 20px;
            }
        }
    }
}