/*-The building potentially has the most complex CSS code out of the others.-*/

.buildinggallery {
    /*This is the background color of the sky. NOT the building itself.*/
    background-color:#52688F;

    .building{
        /*This is the building itself. The background color is the color of the building.*/
        /*Try not to mess with the padding or margin if possible, as it could throw off the whole thing*/
        background-color: #071330;
        outline: 5px solid;
        margin: auto;
        min-width: 350px;
        max-width: 950px;
        padding: 10px;

        .buildingrow {
            height: 180px;

            .imagebox {
                position: block;

                
                .frontimage, .backimage {
                    border-top: #D5DEED 5px solid;
                    border-right: #D5DEED 5px solid;
                    border-bottom: #52688F 5px solid;
                    border-left: #52688F 5px solid;
                    position: absolute;
                    min-width: 180px;
                    top: 50%;
                    left: 50%;
                    height: 200px;
                    width: 200px;
                    transform: translate(-50%, -50%);
                    transition: opacity 0.8s ease-in-out; /* Add a smooth transition for opacity change */
                }

                .frontimage {
                    z-index: 5;
                }

                .frontimage:hover {
                    opacity: 0.2;
                    box-shadow: 0 0 18px 1px #f0ba08;
                    
                }
            
                .backimage {
                    z-index:1;
                    opacity: 1; /* Initially hide the backimage */
                }
            }
        }
    }
}

