@font-face {
    font-family: MinimalustRegular;
    src: url(../Fonts/MinimalustRegular.otf);
}

@font-face {
    font-family: MinimalustGlyph;
    src: url(../Fonts/MinimalustGlyph.otf);
}

@font-face {
    font-family: MinimalustThin;
    src: url(../Fonts/MinimalustThin.otf);
}

@font-face {
    font-family: MinimalustThin;
    src: url(../Fonts/MinimalustThin.otf);
}

@font-face {
    font-family: MinimalustSmallCap;
    src: url(../Fonts/MinimalustSmallCap.otf);
}

@font-face {
    font-family: MinimalustSmallCapItalic;
    src: url(../Fonts/MinimalustSmallCapItalic.otf);
}