@font-face {
    font-family: MinimalustRegular;
    src: url(../Fonts/MinimalustRegular.otf);
}

@font-face {
    font-family: MinimalustGlyph;
    src: url(../Fonts/MinimalustGlyph.otf);
}

@font-face {
    font-family: MinimalustThin;
    src: url(../Fonts/MinimalustThin.otf);
}

@font-face {
    font-family: MinimalustThin;
    src: url(../Fonts/MinimalustThin.otf);
}

@font-face {
    font-family: MinimalustSmallCap;
    src: url(../Fonts/MinimalustSmallCap.otf);
}

@font-face {
    font-family: MinimalustSmallCapItalic;
    src: url(../Fonts/MinimalustSmallCapItalic.otf);
}

@font-face {
    font-family: QuickSandBold;
    src: url(../Fonts/Quicksand_Bold.otf);
}

@font-face {
    font-family: QuickSandLight;
    src: url(../Fonts/Quicksand_Light.otf);
}

@font-face {
    font-family: QuickSandDash;
    src: url(../Fonts/Quicksand_Dash.otf);
}