/********** - CLOUDS.CSS - 
FOR CLOUDS + GALLERY MENU + BUILDING LIGHTS
- **********/

body {
    margin: 0;
    padding: 0;
}

/* CLOUDS FOR GALLERY LANDING PAGE */
.container_clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../Images/assets/artGallery1Index/astronomy.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../Images/assets/cloud_s.bmp) repeat;
    background-size: cover;
    animation: animate 80s linear infinite;
    opacity: 0.3;
    z-index: -1;
}

/* ANIMATION FOR CLOUDS */

@keyframes animate {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -5440px;
    }
}

/* CLOUDS FOR HOMEPAGE */

.cloud2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 233vh;
    background: url(../Images/assets/cloud_s.bmp) repeat;
    background-size: cover;
    animation: animate 132s linear infinite;
    opacity: 0.1;
    z-index: 2;
    border: none;
}

.museum_img {
    z-index: 1;
}

/* FOR HOMEPAGE BUILDING TO MAINTAIN FOCUS ABOVE CLOUDS */
.building {
    position: relative;
    outline: 5px solid;
    margin: auto;
    padding: 10px;
    z-index: 5;
}

/* FOR HOMEPAGE BUILDING TO MAINTAIN FOCUS ABOVE CLOUDS */
.Museum {
    z-index: 2;
    position: relative;
}

/* WINDOW BLINK FOR BUILDING GALLERY - HOMEPAGE */

/* Define the blink animation */
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.30;
    }
}

/* Apply the animation to specific elements */
.buildinggallery .building .buildingrow .imagebox .frontimage:nth-child(even) {
    animation: blink 10s infinite 7s;
}

/* Apply the animation to specific elements */
.buildinggallery .building .buildingrow .imagebox .frontimage:nth-child(odd) {
    animation: blink 7s infinite 10s;
}

/* GALLERY LANDING PAGE AUDIO DIV FEATURES */

.audio_controls {
    background-color: hex(#071330);
    z-index: 2;
    /* To make sure it shows up on top of other elements */
}

.audio_controls button {
    display: block;
    background-color: rgba(35, 37, 88, 0.8);
    color: #d6d31e;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.audio_controls button:hover {
    background-color: rgba(209, 201, 44, 0.8);
    color: rgba(35, 37, 88, 0.8);
}

/* GALLERY LANDING PAGE MENU DIV FEATURES */
#menu-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* EXTRA SCROLLBAR COLOR IN CANVAS */
canvas::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
}

canvas::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the tracking area */
}

canvas::-webkit-scrollbar-thumb {
    background: #000000;
    /* color of the scroll thumb */
}

canvas::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the scroll thumb on hover */
}
