@import 'Homepage/mainbuilding.scss';
@import 'navbar.scss';
@import 'fonts.scss';
@import 'Homepage/_enter.scss';
@import 'Homepage/whatwedo';
@import 'Homepage/models';
@import 'footer.scss';
@import 'aboutus.scss';