/*-The building potentially has the most complex CSS code out of the others.-*/
.buildinggallery {
  /*This is the background color of the sky. NOT the building itself.*/
  background-color: #52688F;
}
.buildinggallery .building {
  /*This is the building itself. The background color is the color of the building.*/
  /*Try not to mess with the padding or margin if possible, as it could throw off the whole thing*/
  background-color: #071330;
  outline: 5px solid;
  margin: auto;
  min-width: 350px;
  max-width: 950px;
  padding: 10px;
}
.buildinggallery .building .buildingrow {
  height: 180px;
}
.buildinggallery .building .buildingrow .imagebox {
  position: block;
}
.buildinggallery .building .buildingrow .imagebox .frontimage, .buildinggallery .building .buildingrow .imagebox .backimage {
  border-top: #D5DEED 5px solid;
  border-right: #D5DEED 5px solid;
  border-bottom: #52688F 5px solid;
  border-left: #52688F 5px solid;
  position: absolute;
  min-width: 180px;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
  transition: opacity 0.8s ease-in-out; /* Add a smooth transition for opacity change */
}
.buildinggallery .building .buildingrow .imagebox .frontimage {
  z-index: 5;
}
.buildinggallery .building .buildingrow .imagebox .frontimage:hover {
  opacity: 0.2;
  box-shadow: 0 0 18px 1px #f0ba08;
}
.buildinggallery .building .buildingrow .imagebox .backimage {
  z-index: 1;
  opacity: 1; /* Initially hide the backimage */
}

@font-face {
  font-family: MinimalustRegular;
  src: url(../Fonts/MinimalustRegular.otf);
}
@font-face {
  font-family: MinimalustGlyph;
  src: url(../Fonts/MinimalustGlyph.otf);
}
@font-face {
  font-family: MinimalustThin;
  src: url(../Fonts/MinimalustThin.otf);
}
@font-face {
  font-family: MinimalustThin;
  src: url(../Fonts/MinimalustThin.otf);
}
@font-face {
  font-family: MinimalustSmallCap;
  src: url(../Fonts/MinimalustSmallCap.otf);
}
@font-face {
  font-family: MinimalustSmallCapItalic;
  src: url(../Fonts/MinimalustSmallCapItalic.otf);
}
@font-face {
  font-family: QuickSandBold;
  src: url(../Fonts/Quicksand_Bold.otf);
}
@font-face {
  font-family: QuickSandLight;
  src: url(../Fonts/Quicksand_Light.otf);
}
@font-face {
  font-family: QuickSandDash;
  src: url(../Fonts/Quicksand_Dash.otf);
}
header .navbar {
  /*This is the navbar Background*/
  background-color: #071330;
}
header .navbar a {
  font-family: MinimalustSmallCap;
  color: white;
  border: rgb(255, 255, 255);
  font-size: 25px;
  transition: ease-in-out 0.3s;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .navbar a:hover {
  font-size: 30px;
  color: white;
}

@font-face {
  font-family: MinimalustRegular;
  src: url(../Fonts/MinimalustRegular.otf);
}
@font-face {
  font-family: MinimalustGlyph;
  src: url(../Fonts/MinimalustGlyph.otf);
}
@font-face {
  font-family: MinimalustThin;
  src: url(../Fonts/MinimalustThin.otf);
}
@font-face {
  font-family: MinimalustThin;
  src: url(../Fonts/MinimalustThin.otf);
}
@font-face {
  font-family: MinimalustSmallCap;
  src: url(../Fonts/MinimalustSmallCap.otf);
}
@font-face {
  font-family: MinimalustSmallCapItalic;
  src: url(../Fonts/MinimalustSmallCapItalic.otf);
}
@font-face {
  font-family: QuickSandBold;
  src: url(../Fonts/Quicksand_Bold.otf);
}
@font-face {
  font-family: QuickSandLight;
  src: url(../Fonts/Quicksand_Light.otf);
}
@font-face {
  font-family: QuickSandDash;
  src: url(../Fonts/Quicksand_Dash.otf);
}
@font-face {
  font-family: MinimalustRegular;
  src: url(../Fonts/MinimalustRegular.otf);
}
@font-face {
  font-family: MinimalustGlyph;
  src: url(../Fonts/MinimalustGlyph.otf);
}
@font-face {
  font-family: MinimalustThin;
  src: url(../Fonts/MinimalustThin.otf);
}
@font-face {
  font-family: MinimalustThin;
  src: url(../Fonts/MinimalustThin.otf);
}
@font-face {
  font-family: MinimalustSmallCap;
  src: url(../Fonts/MinimalustSmallCap.otf);
}
@font-face {
  font-family: MinimalustSmallCapItalic;
  src: url(../Fonts/MinimalustSmallCapItalic.otf);
}
@font-face {
  font-family: QuickSandBold;
  src: url(../Fonts/Quicksand_Bold.otf);
}
@font-face {
  font-family: QuickSandLight;
  src: url(../Fonts/Quicksand_Light.otf);
}
@font-face {
  font-family: QuickSandDash;
  src: url(../Fonts/Quicksand_Dash.otf);
}
.entersection {
  justify-content: center;
  background: linear-gradient(to top, #071330, #52688F);
}
.entersection .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.entersection .container .Museum {
  margin-top: 400px;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}
.entersection .container .Museum .open {
  display: none;
}
.entersection .container .Museum .closed:hover {
  display: none;
}
.entersection .container .Museum .closed:hover + .open {
  display: block;
}
.entersection .walkwayspace {
  height: 400px;
  width: 100%;
  background-color: #52688F;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.entersection .walkwayspace .text-center {
  color: white;
  outline: red solid;
  width: 70%;
}
.entersection .walkwayspace .text-center h1 {
  font-size: 50px;
  margin-top: 50px;
  font-family: QuickSandBold;
}
.entersection .walkwayspace .text-center p {
  text-align: center;
  margin-top: 50px;
  font-family: QuickSandDash;
  font-size: 20px;
}

.whatwedo {
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: #071330;
}
.whatwedo .card {
  outline: solid 3px rgb(255, 255, 255);
  background-color: #d0daec;
  min-width: 100px;
  max-width: 350px;
}
.whatwedo .card .panel {
  outline: green solid 3px;
}

.whatwedosection {
  padding-top: 30px;
  text-align: center;
  background-color: #071330;
}
.whatwedosection h1 {
  color: white;
  font-size: 50px;
  margin-top: 50px;
  font-family: QuickSandBold;
  border-bottom: #d0daec solid 2px;
}

body {
  background-color: #071330;
}

Footer {
  background-color: #071330;
  color: white;
}/*# sourceMappingURL=styles.css.map */

/*reveal for cards*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*reveal for trees*/
.treereveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.treereveal.active {
  transform: translateY(0);
  opacity: 1;
}

.tree {
  position: absolute;
  width: 5%;
  bottom: 0;
}

.trees-overlay {
  position: absolute;
  top: 20;
  left: 0;
  width: 100%; /* This will cover the museum image */
  height: 100%; /* Adjust the height to fit as an overlay */
  z-index: 10; /* This will ensure the trees are on top */
  animation: 3s ease-out 0s 1 slideInFromside; /* Adjust duration and delay as needed */
  will-change: transform;
  }

/* slide from bottom for the trees */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); /* Start off-screen below */
  }
  100% {
    transform: translateY(0); /* End at its normal position */
  }
}

